ray[default,cgraph]==2.48.0
sam2
numpy>=1.25,<2.0a0
tensorboard
tensordict
sympy
modelscope
datasets==3.1.0
tqdm
peft==0.12.0
tyro>=0.5.7
accelerate==0.34.2
pydantic
loralib
einops
jsonlines
deprecated
trl==0.9.6
dacite
codetiming
more_itertools
pybase64
hydra-core
omegaconf
transformers==4.51.3
huggingface-hub
safetensors
opencv-python
scipy
pillow
filelock
packaging
psutil
pyyaml
pyzmq
cloudpickle
setproctitle
